<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Cognni-AI Regression Suite" parallel="tests" thread-count="2">

    
    <listeners>
        <listener class-name="com.cognni.framework.listeners.TestListener" />
    </listeners>
    
    <test name="Login Test on Chrome">
        <parameter name="browser" value="chrome" /> <classes>
            <class name="com.cognni.tests.MSLoginTest" />
            <class name="com.cognni.tests.Overview_InMotion365" />
        </classes>
    </test>

    <test name="Login Test on Firefox">
        <parameter name="browser" value="firefox" /> <classes>
            <class name="com.cognni.tests.MSLoginTest" />
            <class name="com.cognni.tests.Overview_InMotion365" />
        </classes>
    </test>

</suite>

